@use "../sass/title.scss";
@use "../sass/media.scss";

.about {
  margin-top: 59px;
  margin-bottom: 94px;
  background-color: #f4f6f5;

  @include media.for-tablet_690_and_above {
    margin: 70px 0;
  }

}

.about__image {
  width: 100%;

  @include media.for-desktop {
    grid-column: 1/2;
    grid-row: 1/4;
  }
}

.about__title {
  @include title.title();
    margin-top: 30px;
    line-height: 110%;

  @include media.for-tablet_690 {
    margin-top: 40px;
  }

  @include media.for-desktop {
    margin-top: 124px;
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.about__description {
  margin: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 140%;

  @include media.for-tablet_690 {
    font-size: 18px;
    line-height: 150%;
    margin: 30px 0;
  }

  @include media.for-desktop {
    font-size: 18px;
    line-height: 150%;
    margin: 0;
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.about__team {
  display: flex;
  align-items: center;

  @include media.for-desktop {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
