@use "../sass/title.scss";
@use "../sass/media.scss";

.about {
  margin-top: 59px;
  margin-bottom: 94px;
  background-color: #f4f6f5;


  @include media.for-tablet_690 {
    margin: 70px 0;
  }
}

.about__image img {
  width: 100%;
}

.about__title {
  @include title.title();
  margin-top: 30px;

  @include media.for-tablet_690 {
    margin-top: 40px;
  }
}

.about__description {
  margin: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 140%;

  @include media.for-tablet_690 {
    font-size: 18px;
    line-height: 150%;
    margin: 30px 0;

  }
}

.about__team {
  display: flex;
  align-items: center;
}
