@use "../sass/media.scss";

.button {
  font-size: 18px;
  border: 1px solid #598d66;
  cursor: pointer;
  color: #598d66;
  text-decoration: none;

  @include media.for-tablet_690 {
    font-size: 20px;
  }
}
