
.cart {
  position: absolute;
  top: 19px;
  right: 15px;
}

// .cart__image {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   text-decoration: none;
//   color: #2C2D35;
// }
