@use "../sass/media.scss";

.catalog__top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  @include media.for-tablet_510 {
    flex-direction: column;

      }

  @include media.for-tablet_690 {
    flex-wrap: nowrap;
    margin-bottom: 30px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
