@use "../sass/media.scss";

.catalog__top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  @include media.for-tablet_510 {
    flex-direction: column;
  }

  @include media.for-tablet_690 {
    flex-wrap: nowrap;
    margin-bottom: 30px;
  }

  @include media.for-desktop {
    flex-wrap: nowrap;
    margin-bottom: 30px;
    margin-top: 70px;
    justify-content: space-between;
  }
}

.catalog__list {
  display: none;

  &--active {
    display: block;
  }
}
