@use "../sass/title.scss";
@use "../sass/media.scss";

.footer-menu__column {
  @include media.for-tablet_690 {
    margin-right: 60px;
  }
}

@include media.for-mobile {
  .footer-menu__column-rep {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .footer-menu__column-new {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .footer-menu__column-about {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

@include media.for-tablet_510 {
  .footer-menu__column-rep {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .footer-menu__column-new {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
  }

  .footer-menu__column-about {
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: end;
  }
}

  @include media.for-tablet_690{
    .footer-menu__column-rep {
      grid-column: 1/2;
      grid-row: 2/4;
    }

    .footer-menu__column-new {
      grid-column: 2/3;
      grid-row: 2/4;
      // justify-self: center;
    }

    .footer-menu__column-about {
      grid-column: 3/4;
      grid-row: 2/4;
      // justify-self: end;
    }
}

@include media.for-desktop {

  .footer-menu__column-rep {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .footer-menu__column-new {
    grid-column: 5/6;
    grid-row: 1/3;
    // justify-self: center;
  }

  .footer-menu__column-about {
    grid-column: 7/8;
    grid-row: 1/3;
    // justify-self: end;
  }
}

.footer-menu__title {
  @include title.title();
    font-size: 16px;
    margin-bottom: 6px;

  @include media.for-tablet_510_and_above {
    font-size: 20px;
  }
}

.footer-menu__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-menu__item:not(:last-child) {
  margin-bottom: 6px;
}

.footer-menu__link {
  text-decoration: none;
  color: #86928b;
  font-size: 16px;

  @include media.for-tablet_690_and_above {
    font-size: 18px;
  }
}
