@use "../sass/media.scss";

.footer {
  background-color: #e1ede6;
  padding-top: 26px;
  padding-bottom: 20px;
}

.footer__container {

  // @include media.for-tablet_690 {
  //   display: grid;
  //   grid-template-rows: auto auto;
  // }
}
