
@use "../sass/media.scss";

.footer-social {
  display: flex;
  flex-direction: column;
}

.footer-social::before {
  @include media.for-mobile {
    content: "";
    display: block;
    height: 1px;
    background-color: #c3d1c6;
    margin: 20px 0;
  }

  @include media.for-tablet_510 {
    content: "";
    display: block;
    height: 1px;
    background-color: #c3d1c6;
    margin: 20px 0;
  }
}

.footer-social__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social__item:not(:last-child) {
  margin-right: 30px;
}

.footer-social__link {

&:hover svg path {
  fill: #598D66;
}
&:focus svg path{
  fill: #598D66;
}
&:focus svg {
  background-color: #D4E8D9;
}

&:active svg path {
  fill: #376B44;
}
}
