@use "../sass/media.scss";

.footer-grid {
  display: grid;

  @include media.for-mobile {
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(5, auto);
    column-gap: 40px;
    row-gap: 20px;
  }

  @include media.for-tablet_510 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    row-gap: 30px;
  }

  @include media.for-tablet_690 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 30px;
  }

  @include media.for-desktop {
    grid-template-columns: min-content 115px min-content 60px min-content 60px min-content auto min-content;
    grid-template-rows: repeat(2, auto);
    row-gap: 35px;
  }
}
