@use "../sass/media.scss";

.footer-grid {
  display: grid;

  @include media.for-mobile {
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(5, auto);
    column-gap: 40px;
    row-gap: 20px;
  }

  @include media.for-tablet_510 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    row-gap: 30px;
  }

  @include media.for-tablet_690 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 30px;
  }

  @include media.for-desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: 35px;
  }
}

//   @include media.for-mobile {
//     grid-template-areas:
//       "logo  ."
//       "phone rep"
//       "new about"
//       "soc sop"
//       "cop cop";
//     gap: 20px 40px;
// }
// @include media.for-tablet_510 {
//   grid-template-columns: auto auto auto;
//   justify-content: space-between;
//   grid-template-areas:
//     "logo  . phone"
//     "rep new about";
//   gap: 30px;
// }
// @include media.for-tablet_690 {
//   display: block;
//   // grid-template-columns: repeat(4, 1fr); /* Четыре столбца с равной шириной */
//   // gap: 20px; /* Расстояние между элементами */
//   }

// }

// .footer__logo {
//   grid-area: logo;

//   @include media.for-mobile {
//   grid-column: logo / span 2;
//   }
//   // @include media.for-tablet_690 {
//   //   grid-column: span 2;
//   // }
// }

// .footer-phone {
//   grid-area: phone;

//   @include media.for-tablet_510 {
//     grid-column: span 2 / phone;
//     }
//     // @include media.for-tablet_690 {
//     //   grid-column: span 2;
//     // }
// }
// .footer-social {
//   grid-area: soc;
// }

// .footer-copyricht {
//   grid-area: cop;
// }

// .footer-menu__column-rep {
//   grid-area: rep;
// }

// .footer-menu__column-new {
//   grid-area: new;
// }

// .footer-menu__column-about:last-child {
//   grid-area: about;
// }
