@use "../sass/media.scss";

.main-header {

  @include media.for-tablet_690 {
    padding: 33px 0 32px;
    background-color: #E1EDE6;
  }
}

.main-header__container {
  margin: 0;
  background-color: #e1ede6;

  @include media.for-tablet_690 {
    display: flex;
    justify-content: space-between;
  }

  @include media.for-desktop {
    display: flex;
    justify-content: space-between;
  }
}

.main-header__brand {
  background-color: #E1EDE6;
  text-align: center;
  justify-content: center;
  position: relative;

  @include media.for-mobile {
    margin: 0 -15px;
    background-color: #ffffff;
  }

  @include media.for-tablet_510 {
    margin: 0 -33px;

    &::after {
      content: "";
      display: block;
      height: 1px;
      background-color: #c3d1c6;
      position: absolute;
      left: 33px;
      right: 33px;
      bottom: 0;
    }
  }

  @include media.for-tablet_690 {
      text-align: left;
  }
}

.main-header__logo {
  display: block;
  padding: 16px 0 16px;

  @include media.for-tablet_690 {
    padding: 0;
  }
  @include media.for-desktop {
    padding: 33px 0 32px;
  }
}

.main-header__logo-image {
  margin: 0 auto;
  display: block;


  @include media.for-tablet_690 {
    margin: 0;
  }
}

.main-header__nav-toggle {
  position: relative;

  @include media.for-mobile {
  padding: 16px 0;
  }
}

.main-header__nav {
  @include media.for-mobile {
    display: none;
  }

  @include media.for-tablet_690_and_above {
  display: flex;
  position: relative;
  margin-right: 60px;
  }
}
