@use "../sass/media.scss";

.main-header {

}

.main-header__container {
  margin: 0;
  background-color: #e1ede6;
}

.main-header__brand {
  display: flex;
  background-color: #E1EDE6;
  text-align: center;
  justify-content: center;
  position: relative;

  @include media.for-mobile {
    margin: 0 -15px;
    background-color: #ffffff;
  }

  @include media.for-tablet_510 {
    margin: 0 -33px;

    &::after {
      content: "";
      display: block;
      height: 1px;
      background-color: #c3d1c6;
      position: absolute;
      left: 33px;
      right: 33px;
      bottom: 0;
    }
}

}

.main-header__logo {
  text-align: center;
}

.main-header__logo-image {
  margin: 16px 0;
}

.main-header__nav-toggle {
  position: relative;
  @include media.for-mobile {

  padding: 16px 0;
}
}

.main-header__nav {
  @include media.for-mobile {
    display: none;
  }
}


.main-header__cart {

}
