@use "../sass/title.scss";
@use "../sass/media.scss";

.novices {
  background-image: url("../img/novices-bg-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 60px;
  overflow: hidden;

  @include media.for-tablet_510 {
    background-image: url("../img/novices-bg-tablet_510.jpg");
  }

  @include media.for-tablet_690 {
    background-image: url("../img/novices-bg-tablet_690.jpg");
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 85%;
      background: rgba(13, 43, 67, 0.7);
      mix-blend-mode: multiply;
      filter: blur(157.5px);
    }
  }

  @include media.for-desktop {
    background-image: url("../img/novices-bg-desktop.jpg");
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 50%;
      background: rgba(13, 43, 67, 0.80);
      mix-blend-mode: multiply;
      filter: blur(157.5px);
    }
  }
}

.novices__title {
  @include title.title();
  color: #ffffff;
  line-height: 100%;
  margin-bottom: 20px;
  margin-top: 50px;
  position: relative;
  display: flex;

  @include media.for-tablet_510 {
    max-width: 340px;
  }

  @include media.for-tablet_690 {
    max-width: 430px;
    margin-bottom: 30px;
  }

  @include media.for-desktop {
    max-width: 520px;
    margin-top: 70px;
  }
}

.novices__title::before {
  content: "";
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: left top;
  width: 50px;
  height: 50px;
  display: block;
  flex-shrink: 0;
  margin-right: 10px;

  @include media.for-tablet_690 {
    background-image: url("../img/Star_tablet_690.svg");
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }

  @include media.for-desktop {
    background-image: url("../img/Star_desktop.svg");
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }
}

.novices__content {
  color: #ffffff;
  margin-bottom: 30px;
  position: relative;

  @include media.for-desktop {
    margin-bottom: 60px;
    width: 550px;
  }
}

.novices__description {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 16px;

  @include media.for-tablet_690_and_above {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 20px;
  }
}

.novices__btn {
  box-sizing: border-box;
  width: 100%;
  color: #2c2d35;
  background-color: #eedb6d;
  padding: 13px 0;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  margin-bottom: 51px;
  position: relative;

  &:hover {
    background-color: #FAEB97;
  }

  &:focus {
    outline: none;
    background-color: #FAEB97;
    border: 1px solid #A38314;
  }

  &:active {
    background-color: #D9B949;
  }

  @include media.for-tablet_510 {
    width: 190px;
  }

  @include media.for-tablet_690 {
    width: 210px;
    margin-bottom: 70px;
  }

  @include media.for-desktop {
    width: 257px;
    margin-bottom: 70px;
  }
}
