@use "../sass/title.scss";
@use "../sass/media.scss";

.novices {
  background-image: url("../img/novices-bg-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 60px;

  @include media.for-tablet_510 {
    background-image: url("../img/novices-bg-tablet_510.jpg");
  }
}

.novices__title {
  @include title.title();
  color: #ffffff;
  position: relative;
  line-height: 100%;
  margin-bottom: 20px;
  padding-top: 50px;
  padding-left: 60px;
}

.novices__title::before {
  content: "";
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  top: 50px;
  left: 0;
  width: 50px;
  height: 50px;
}


.novices__content {
  color: #ffffff;
  margin-bottom: 30px;
}

.novices__description {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 16px;

  @include media.for-tablet_690 {
    font-size: 18px;
    line-height: 150%;
  }
}

.novices__btn {
  box-sizing: border-box;
  width: 100%;
  color: #2c2d35;
  background-color: #eedb6d;
  padding: 14px 0;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  margin-bottom: 51px;

  &:hover {
    background-color: #FAEB97;
  }

  &:focus {
    outline: none;
    background-color: #FAEB97;
    border: 1px solid #A38314;
  }

  &:active {
    background-color: #D9B949;
  }

  @include media.for-tablet_510 {
    width: 190px;
}
}
